body {
  background-color: #c0e7ff;
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  color: black;
  text-align: center;
  font-weight: bold;

}

h2 {
  color: black;
  text-align: center;
}

p {
  color: black;
  text-align: center;
}

dl {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

ul {
  display: table;
  margin: 0 auto;
  text-align: left;

}

img {
    display: block;
    margin: auto;
    width: 30%;
    height: 30%;
}


.left-half {
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
}
